<?xml version="1.0" ?>
<launch>
	<param name="GRID_SIZE" value="0.18"/>

	<param name="NUM_ANTS" value="3"/>
	<param name="POS_ANT0" value="-1 -1 1"/>
	<param name="POS_ANT1" value="0 -1 1"/>
	<param name="POS_ANT2" value="1 -1 1"/>

	<param name="NUM_BEES" value="3"/>
	<param name="POS_BEE0" value="-1 1 3"/>
	<param name="POS_BEE1" value="0 1 3"/>
	<param name="POS_BEE2" value="1 1 3"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true"/>
		<arg name="use_sim_time" value="true"/>
	</include>

	<node pkg="mouse_gazebo" type="spawner" name="spawner" output="screen"/>
	<node pkg="mouse_gazebo" type="mapper" name="mapper" output="screen" required="true"/>
</launch>