<?xml version="1.0" ?>
<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true"/>
		<arg name="use_sim_time" value="true"/>
	</include>

	<node pkg="mouse_gazebo" type="spawner" name="spawner" output="screen"/>
	<node pkg="mouse_gazebo" type="mapper" name="mapper" output="screen" required="true"/>
</launch>