<?xml version="1.0" ?>
<launch>
	<!-- Wall and divider size doesn't change with this -->
	<param name="GRID_SIZE" value="0.18"/>
	
	<param name="WORLD_FILE" value="$(find mouse_gazebo)/launch/1v1.txt"/>

	<!-- Debug aids -->
	<param name="ANTS_USERCONTROL" value="false"/>
	<param name="BEES_USERCONTROL" value="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
	</include>

	<node pkg="mouse_gazebo" type="spawner" name="spawner" output="screen"/>
	<node pkg="mouse_gazebo" type="mapper" name="mapper" output="screen" required="true"/>
</launch>